@use "~@wordpress/base-styles/colors" as wp-colors;
@use "~@wordpress/base-styles/variables" as wp-vars;
@use "~@wordpress/base-styles/mixins" as wp-mixins;
@use "../../../colors/colors.module" as colors;

$stat-card-min-height: wp-vars.$grid-unit * 21;
$stat-card-value-size: 44px;
$stat-card-value-size-min: 20px;

.newspack-stat-card {
	--wp-admin-theme-color: #{colors.$primary-600};
	--wp-admin-theme-color--rgb: #{colors.$primary-600--rgb};
	--wp-admin-theme-color-darker-10: #{colors.$primary-700};
	--wp-admin-theme-color-darker-10--rgb: #{colors.$primary-700--rgb};
	--wp-admin-theme-color-darker-20: #{colors.$primary-800};
	--wp-admin-theme-color-darker-20--rgb: #{colors.$primary-800--rgb};
	--wp-admin-theme-color-lighter-10: #{colors.$primary-000};
	--wp-admin-theme-color-lighter-10--rgb: #{colors.$primary-000--rgb};

	container-type: inline-size;
	min-height: $stat-card-min-height;

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: wp-vars.$grid-unit-10;
	}

	&__label {
		align-items: flex-start;
		display: flex;
		gap: wp-vars.$grid-unit-10;
		justify-content: space-between;
	}

	&__label-text {
		@include wp-mixins.heading-large();
		color: wp-colors.$gray-900;
		margin: 0;
	}

	&__body {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: wp-vars.$grid-unit-10;
	}

	&__value {
		color: var(--wp-admin-theme-color);
		font-size: $stat-card-value-size;
		font-size: clamp(#{$stat-card-value-size-min}, 14cqi, #{$stat-card-value-size});
		font-variant-numeric: tabular-nums;
		font-weight: wp-vars.$font-weight-medium;
		line-height: 1;

		&--text {
			font-size: wp-vars.$font-size-x-large;
			line-height: wp-vars.$font-line-height-x-large;
		}
	}

	&__footer {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: wp-vars.$grid-unit-05;
	}

	&__action.components-button {
		font-size: wp-vars.$helptext-font-size;
		line-height: wp-vars.$font-line-height-x-small;
	}

	&__secondary,
	&__description {
		color: wp-colors.$gray-700;
		font-size: wp-vars.$helptext-font-size;
		line-height: wp-vars.$font-line-height-x-small;
		margin: 0;
		text-wrap: balance;
	}

	.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}
