/**
 * With Wizard
 */

@use "~@wordpress/base-styles/colors" as wp-colors;
@use "../../../colors/colors.module" as np-colors;

// Styling for full-page-react Wizards (ignoring admin-header-only wizards).
body.newspack-wizard-page:not(.newspack-admin-header) {
	--wp-admin-theme-color: #{np-colors.$primary-600};
	--wp-admin-theme-color--rgb: #{np-colors.$primary-600--rgb};
	--wp-admin-theme-color-darker-10: #{np-colors.$primary-700};
	--wp-admin-theme-color-darker-10--rgb: #{np-colors.$primary-700--rgb};
	--wp-admin-theme-color-darker-20: #{np-colors.$primary-800};
	--wp-admin-theme-color-darker-20--rgb: #{np-colors.$primary-800--rgb};
	--wp-admin-theme-color-lighter-10: #{np-colors.$primary-000};
	--wp-admin-theme-color-lighter-10--rgb: #{np-colors.$primary-000--rgb};
	--wp-components-color-accent: #{np-colors.$primary-600};

	background: #{wp-colors.$white};

	// Reset Padding
	#wpcontent {
		padding-left: 0;
	}

	#wpbody-content {
		padding-bottom: 220px;
		min-height: 100vh;

		@media screen and ( min-width: 600px ) {
			min-height: calc(100vh - 46px);
		}

		@media screen and ( min-width: 783px ) {
			min-height: calc(100vh - 32px);
		}

		// For admin notices directly ">" at top of page above the Wizard header.
		// PHP code should hide these notices, but just incase add this style.
		> .notice {
			margin-bottom: 20px;
			margin-left: 22px;
		}

		@media screen and ( min-width: 783px ) {
			padding-bottom: 202px;
		}

		@media screen and ( min-width: 1054px ) {
			padding-bottom: 136px;
		}
	}

	.components-popover__content {
		min-width: 192px;
	}
}

// Styling for wizards that are admin-header-only.
body.newspack-wizard-page.newspack-admin-header {

	// For mobile.
	@media screen and (max-width: 600px) {

		// The header bar (and tabs) need padding.
		#newspack-wizards-admin-header {
			padding-top: 46px;
		}

		// Since the padding was added to the header bar, remove from body.
		#wpbody {
			padding-top: 0;
		}
	}
}

svg {
	&.newspack--error {
		fill: wp-colors.$alert-red;
		transform: rotate(180deg);
	}
	&.newspack--success {
		fill: wp-colors.$alert-green;
	}
}
